.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #green;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  max-width: 540px;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-right: auto !important;
  margin-left: auto !important;
}